
body {
    background: white;
    color: #2a2a2a;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    height: 100vh;

}
html{

    background: -moz-linear-gradient(white, darkgrey);
}

.full-height {
    height: 100vh;
}
.relative{
    position: relative;
    left:300px;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}


.top-right {
    position: absolute;
    top: 10px;
    right:10%;

}
.log{
    color: #5e5d5d;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    font-size: 16px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: lowercase;
    align-items: center;
    margin: 10px;
}

.log> a:hover {

    /*color: #5e5d5d;
    border-left:6px solid #ce2e2e;
    text-decoration: none;*/
    text-align: center;
    text-decoration: none;
    color: #761c19;
}
.absolute{
    position: absolute;
    width: 100%;
    height: 75%;
}
.containers{
    color: white;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    text-align: center;
    background-color: #2e3436;
    width: 100%;
}

.title > a{

    font-size: 84px;
    font-weight: 800;
    color: white;
    height: 50%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
}
.title > a:hover{
    font-size: 84px;
    height: 50%;
    width: 100%;
    text-decoration: none;
}


.margintop{
    margin-top: 10px;
}
.borderstyle{
    border: 1px double grey;
}
.vignette{
    width: auto;
    height: auto;
    font-weight: bold;
    background-color: white;
    border-radius: 6px;
    color: #2a2a2a;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.wordlink{
    color: #5e5d5d;
}
.wordlink:hover{
    color: #2a2a2a;
    text-underline: none;
}
.shadowbox{
    box-shadow: #5e5d5d ;
}
.btnn{
    background-color: #888a85;
    border-color: #5e5d5d;
}
.btnn:hover{
    background-color: #880000;
    border-color: #2a2a2a;
    color: #ccd0d2;
}
.vignette:hover{
    box-shadow: 5px 5px 10px 2px rgba(99,99,99,1);
}
img{
    margin : 10px;
}
.bottom{
    text-align: center;
}

.links > a, col{
    color: #5e5d5d;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    font-size: 16px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: lowercase;
    align-items: center;
    margin: 10px;

}
.links > a:hover{

    /*color: #5e5d5d;
    border-left:6px solid #ce2e2e;
    text-decoration: none;*/
    text-align: center;
    text-decoration: none;
    color: #761c19;
}
.nav{
    background-color: white;
    height: 50px;
    width: 100%;
    border-bottom:1px solid #888a85;



}
.leftpan{
    position: absolute;
    height: 100%;
    border-right: 1px solid #888a85;
}
.rightpan{
    position: absolute;
    left: 23%
}
.cont >body{
    background-color: white;

}
.nav2{
    position: static;
    height: 50%;
    width: 175px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

}
.titreAdmin {
    color: white;
    background-color: #880000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(1, 1, 1, 1);
    font-size: 16px;
    letter-spacing: .1rem;
    text-transform: lowercase;
    text-align: center;
    border-radius: 2px;

}

.m-b-md {
    margin-bottom: 30px;
}
ol {
    list-style: none;
    background: white;
    padding: 0;

}

ol li {
    background: inherit;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
ol li >a:hover{
   /* color: #5e5d5d;
    width: 100%;
    border-left:6px solid #ce2e2e;*/
    text-decoration: none;
    color: #761c19;



}
footer{
    margin: 0px;
    position: absolute;
}
header{
    border-bottom: 1px double grey;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:white; /* Standard syntax */
}